<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Single Post</h1>
     
        <div class="post">
            <h3 class="user">@<%= singlepost.username %></h3>
            <p class="content"><%= singlepost.content %></p>
        </div>
</body>
</html>


